body{
    background-color: rgb(251, 251, 251);
}
h1{
    color: #000000;
}
#main-title{
    text-align: center;
    margin: 15px 0 30px;
}

#contacts-table{
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead th{
    color: #FFF;
    background-color: rgb(2, 2, 215);
}

.actions{
    text-align: right;
    width: 150px;
}
.actions i {
    font-size: 18px;
    width: 30px;
    margin-right: 5px;
}

.check-icon{
    color: #1E7E34;

}
.edit-icon{
    color: #007BFF;
}
.delete-icon{
    color: #DC3545;
    
}
.delete-btn{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.col-id{
    font-weight: bold;
}

#empty-list-text{
    text-align: center;
}

#msg{
    color: gray;
    background-color: white;
    border: 1px solid #c3e6cb;
    padding: 10px;
    text-align: center;
    max-width: 0 auto;
    margin: 0 auto;
    margin-top: 30px;
}

.navbar-brand figure img{
    min-width: 30px;
    min-height: 30px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 20%;
}



.box-shadow-d{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

/* SHOW CONTACT / INDIVIDUAL */ 

#view-contact-container{
    max-width: 500px;
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}
.back-link-container{
    display: block;
    width: 500px;
    margin: 30px auto 0;
}
#back-link{
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 4px;
    padding: 5px;
}
#back-link:hover{
    text-decoration: none;
}